<nav id="navbar" class="navbar  navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menuNavbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
               G-Search                
            </a>
        </div>
        <div class="collapse navbar-collapse" id="menuNavbar">
            <form class="navbar-form navbar-left" action="" method="GET">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search" name="q">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            {% if logged %}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="">Logout</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>
